# Intellij IDEA files #
#######################
.idea
*.iml

# maven files #
#######################
target

# dist files #
#######################
silentspace-dist/dist

# java class files #
#######################
*.class
